/* media <550,550-760,760- */
:root {
    --line-fill-color: #DDDDDD;
}


/* none */
/* .comp {
    display: none;
} */


nav {
    display: none;
}

.desk-li {
    display: none;
}

.desk-1130 {
    display: none;
}

.desk-1130-logo {
    display: none;
}

.desk-1130-li {
    display: none;
}

.cou-lang div:nth-child(3) {
    display: none;
}




* {
    padding: 0;
    margin: 0;
    font-family: CerealVF;
    /* box-sizing: border-box; */
    list-style-type: none;
    text-decoration: none;

}

@font-face {
    font-family: "CerealVF";
    src: url(/asset/font/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2);
}

/* header  */
#header {
    position: sticky;
    right: 0;
    top: 0;
    background-color: #FFF;
    z-index: 1;
    /* height: 144px; */
}

/* search */
.cntr {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 10px 0; */
    /* margin-top: 14px; */
    padding-top: 14px;

}

.swa3 {
    height: 54px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    border-radius: 1000px;
    align-items: center;
    /* box-shadow: 2px 2px 5px #b9b9b9; */
    box-shadow: 0 3px 10px 0px rgba(0 0 0 / 0.1);
    border-bottom-width: 1px;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.1);
}

.wa3 {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 20px;
    height: 34px;
    /* padding-left: 3px; */
}

.search {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 20px;
    width: 52px;
    /* margin: 0 20px; */
    padding-left: 4px;
}

.search img {
    width: 20px;
    height: 20px;
}

.where {
    font-size: 14px;
    font-family: CerealVF;
    font-weight: 500;
    margin-left: 2px;
}

.a3 {
    font-size: 12px;
    column-gap: 5px;
    font-family: CerealVF;
    line-height: 16px;
    row-gap: 5px;
    /* text-align: start; */
    padding-inline-end: 20px;

}

.a3-span {
    font-size: 12px;
    padding: 0px 2px;
    opacity: 0.6;
}

.a3-dot {
    opacity: 0.6;
}



/* swp */

.swp {
    box-sizing: border-box;
    color: rgba(34, 34, 34);
    column-gap: 16px;
    row-gap: 16px;
    contain: paint;
    padding: 0 20px;
    display: grid;
    gap: 16px, 16px;
    column-gap: 16px;
    row-gap: 16px;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-template-rows: 74px;
    height: 74px;
    line-height: 20px;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    box-shadow: 2px 2px #f3f3f3;
}

.innerdiv {
    height: 74px;
}

.items {
    font-size: 12px;
    padding: 4px 0;
    width: 85px;
    /* width: max-content;
    max-width: max-content; */
    min-width: 64px;
    /* min-width:max-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    row-gap: 4px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 10px;
    opacity: 0.69;
}

.item1 {
    min-width: 0px;
    width: 40px;
    font-weight: 500;
    opacity: 2;
}

.item1-label {
    border-bottom: 2px solid rgb(50, 50, 50);
}

.items img {
    height: 24px;
    width: 24px;
    aspect-ratio: 24/24;
    justify-self: center;
    vertical-align: middle;
}

.items div span {
    justify-self: center;
}


label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/* .swp {
    display: flex;
    overflow: scroll;
    gap: 30px;

    height: 72px;
    padding: 0 24px;
    border-bottom: 2px solid rgb(206, 204, 204);
}

.swp::-webkit-scrollbar {
    display: none;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: max-content;
    opacity: 0.6;

}

.items:nth-child(1) {
    opacity: 2;
}

.items img {
    width: 24px;
    height: 24px;

}

.swp span {
    font-size: 12px;
} */


/* section 2 image cards */

.listcards {
    /* margin-top: 20px; mob res */
    margin-top: 24px;
    margin-bottom: 20px;
    /* third bottom  */
    display: grid;
    /* grid-template-columns:repeat(1,minmax(0,1fr)) ; */
    grid-template-columns: 100%;
    grid-auto-rows: minmax(min-content, max-content);
    justify-content: center;
    padding: 0 24px;
    row-gap: 15px;
    column-gap: 15px;
    row-gap: 40px;
    /*  */
    overflow: hidden;

}

.container {
    position: relative;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
}

.cont-img {
    /* width: 327px; */
    width: 100%;
    /* height:max-content ; */
    /* object-fit: cover; */
    aspect-ratio: 20/19;
    margin-bottom: 12px;
}

.cont-img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    /* object-position: 50% 50%; */
    aspect-ratio: 20/19;
}

.normal-txt {
    font-size: 14px;
    font-weight: 500;
}

.light-txt {
    font-size: 15px;
    color: #6a6a6a;
    font-family: CerealVF;

    font-weight: 400;
    width: 250px;
}

.cont-content {
    /* padding: 10px 5px; */
    display: grid;
    font-size: 15px;
    column-gap: 8px;
    row-gap: 2px;
    line-height: 19px;
    grid-template-columns: auto;
    grid-template-rows: 19px 19px 19px;

}

.cont-content h4 {

    /* word-break: break-all; */
    /* display: inline-block; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;

}

.cont-content>div:not(.light-txt) {

    display: -webkit-box;
    font-weight: 500;
    width: 250px;
    font-size: 15px;


}

.overicon {
    position: absolute;
    /* top: 4%;
    right: 5%; */
    top: 12px;
    right: 12px;
    /* margin: 10px 10px 0 0 ; */
    /* background-color: rgb(196, 195, 195); */
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
    border-radius: 30px;
    padding: 8px;
}

/* here */

/* btion 3 */
.past-par {
    margin-top: 50px;
    margin-bottom: 24px;
}


.past {
    /* margin-left: 8%; */
    margin-left: 24px;
    font-size: 32px;
    letter-spacing: -0.64px;
    font-weight: 500;
    line-height: 36px;
}

.third {
    padding-bottom: 32px;
}





/* js */

.js {
    padding: 48px 24px;
    background-color: rgba(0, 0, 0, 0.08);
}

.js .js-heads a {
    /* margin: 0 10px; */
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    text-decoration: none;
    color: black;
    height: 50px;
    align-items: center;

}

.js .js-heads a::-webkit-scrollbar {
    display: none;
}

.js .js-heads a div {
    margin: 6px 6px 6px 0;
    padding: 10px;
    min-width: max-content;
    font-size: 14px;
    border-bottom: 2px solid var(--line-fill-color);
    font-weight: 500;
}

.js .js-heads a div:nth-child(1) {
    border-bottom: 3px solid rgb(128, 128, 128);

    padding-left: 0;
}

.js .js-heads a div:not(.Popular) {
    opacity: 0.6;
}

.js .insp {
    text-align: start;
    /* padding: 20px 20px; */
}

.js .insp h2 {
    font-size: 1.37rem;
    font-weight: 500;
    margin-bottom: 8px;

}

.js-cnt {
    padding-top: 32px;
}

.js-cnt ul {
    display: grid;
    /* grid-template-columns: repeat(2, 45%); */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* repeat(var(--dense-grid-column-count,2),minmax(0,1fr)) */
    /* grid-row: auto;
    grid-auto-rows:min-content; */
    column-gap: 8px;
    grid-gap: 24px;
    font-size: 10px;
    line-height: 20px;
    /* padding: 20px; */
}

.js-cnt ul span {
    font-size: 14px;
    font-weight: 450;
    line-height: 18px;
    text-overflow: ellipsis;
}

.js-cnt ul p {
    font-size: 14px;
    min-width: max-content;
    line-height: 18px;
    opacity: .6;
}

.show-more {
    /* float: left; */
    display: flex;
    align-items: center;
}




/* sha */
.js,
.sha {
    background-color: rgba(0, 0, 0, 0.06);
}

.sha {
    padding: 0 20px;
}

.sha ul {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    row-gap: 12px;
    column-gap: 12px;
    /* padding: 20px; */
    padding: 24px 4px;
    border-top: 1px solid var(--line-fill-color);
}

.sha ul:nth-child(3) {
    border-bottom: 1px solid var(--line-fill-color);

}

.sha h1 {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 18px;
}

.sha li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}






hr {
    /* border-radius: 0px solid grey; */
    margin: 0 10px;
    opacity: 0.6;
}

/* footers */
footer {
    background-color: rgba(0, 0, 0, 0.06);
}

.cou-lang {
    display: flex;
    padding: 0 24px;
    padding-top: 24px;
    align-content: center;
    /* justify-content: center; */
    margin-bottom: 22px;
}

.cou div img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.cou-lang span {
    font-size: 14px;
    line-height: 18px;
}




.cou-lang div {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

/* content */

/* .cou{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */



/* .cou-lang div span {
    margin-left: 8px;
} */
/* .cou div {
    margin-right: 20px;
} */


.c {
    padding: 4px 24px;
    font-size: 14px;
}

/* pstc */
.ptsc {
    padding: 4px 24px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
}

.ptsc ul {
    display: inline;
    /* flex-wrap: wrap; */
    width: 100%;
    /* justify-content: space-around; */
    flex-wrap: nowrap;
}

.ptsc ul li {
    /* list-style-type: circle; */
    display: inline-block;
    text-align: center;
    padding: 0 3px;
    min-width: max-content;
}



.bottom-nav {
    display: flex;
    flex-direction: row;
    height: 63px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    padding: 1px 0px;
    position: sticky;
    bottom: 0;
    opacity: 1.2;
    text-align: center;
}

.bn-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .79;
    height: 64px;
    /* width: 64px; */
    width: 20%;
    /* max-width: 20px; */
    padding-top: 5px;
}

.bn-item:nth-child(1) {
    opacity: unset;
}

.bn-item img {
    width: 24px;
    height: 24px;
    padding-bottom: 6px;
}

.bn-item .red {
    color: red;
}

.bn-item>div {
    font-size: 0.625rem;
    line-height: 0.75rem;
    font-weight: 500 !important;
    line-height: 12px;

}

.bn-txt {
    opacity: 0.6;
    font-size: CeralVF;


}

@media screen and (min-width:375px) {
    .comp {
        display: inline;
    }



    .swa3 {
        width: 88%;
        margin-left: 24px;
    }

    /* .search {
        width: 50px;
    } */

    .cntr {
        justify-content: unset;
        /* margin-left: 24px; */
        /* margin-right: 24px; */
    }




}




@media screen and (min-width: 550px) {





    nav {
        display: none;
    }

    .listcards {
        grid-template-columns: repeat(2, 49%);
        column-gap: 24px;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 750px) {

    /* none */
    .cntr {
        display: none;
    }

    /* .left svg{
        display: none;
    } */

    /* display */

    .desk-li {
        display: inline;
    }

    .desk-1130.des-li {
        display: none;
    }

    /* .social-ta */
    .cou-lang div:nth-child(3) {
        display: flex;
    }




    /* nav */
    nav {
        display: inline;

    }


    .nav-p {
        overflow: hidden;
        display: flex;
        padding-inline-start: 40px;
        padding-inline-end: 40px;
        justify-content: space-between;
        height: 81px;
        line-height: 20px;
        align-items: center;

        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    #header {
        top: 81px;
        border-top: 1px solid var(--line-fill-color);

    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .any-p {
        padding: 0 24px;

    }

    .any-container {
        display: flex;
        min-width: 348px;
        align-items: center;
        border: 1px solid var(--line-fill-color);
        height: 48px;
        border-radius: 40px;
        box-sizing: border-box;
        padding-left: 8px;
    }

    .any-container .guest {
        display: flex;
        align-items: center;
    }

    .any-container button {
        background-color: white;
        border: none;
        min-width: 20px;
    }

    .any-container button:nth-child(2) {
        border-left: 1px solid var(--line-fill-color);
        border-right: 1px solid var(--line-fill-color);

    }

    .any-container button span {
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        padding: 0 16px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        min-width: 0;
    }

    .guest span {
        opacity: .6;
        font-weight: unset;
    }


    .srch {

        border-radius: 30px;
        margin: 7px 7px 7px 0;
        padding: 10px;
        background-color: #ff3863;

    }

    .srch img {
        width: 18px;
    }




    .right-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    .r-first {
        display: flex;
        align-items: center;
        margin-right: 8px;


    }

    .r-second {
        display: flex;
        padding: 8px 8px 8px 14px;
        border: 1px solid var(--line-fill-color);
        border-radius: 30px;
        align-items: center;

    }

    .your-home {
        padding: 12px;
        min-width: max-content;
    }

    .globe {
        /* height: 42px;
        width: 46px; */
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burg img {
        width: 16px;
        height: 16px;
        margin-right: 14px;
    }


    /* nav {
        display: inline;
    } */
    /* 
    .nav-p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        line-height: 20px;
        padding-inline-end: 40px;
        padding-inline-start: 40px;
        border-bottom: 1px solid rgb(231, 231, 231);

        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;

        width: 100%;
        box-sizing: border-box;
    } */



    /* .left img {
        padding: 10px;
    } */

    /* .mid-w {
        padding: 0px 24px;
        display: flex;
        align-items: center;

    } */

    /* .midl { 
        display: flex;
        gap: 10px;
        align-items: center;
        border: 1px solid var(--line-fill-color);
        border-radius: 30px;
        min-width: 348px;
        width: 330px;
        height: 48px;
    } */
    /* .mr-wrapper {
        display: flex;
        gap: 30px;
    } */

    /* .any {
        padding: 0 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    } */

    /* .any:nth-child(1) {
        margin-left: 8px;
    } */

    /* .any:nth-child(2) {
        border-right: 2px solid var(--line-fill-color);
        border-left: 2px solid var(--line-fill-color);
    } */



    .right {
        display: flex;
        justify-content: space-around;
        /* justify-self: center; */
        align-items: center;
    }

    .right .air-glob {
        display: flex;
        align-items: center;
    }

    .air {
        padding: 12px;
        font-size: 14px;
        min-width: max-content;
    }

    .air .air-t {
        height: 42px;
        min-width: 149px;
    }

    .glb {
        padding: 12px;
    }




    .right .cont {
        display: flex;
        border: 1px solid #DDDDDD;
        border-radius: 30px;
        padding: 8px 8px 8px 14px;
        height: 30px;
        width: 62px;
        align-items: center;


    }


    .cont .burg {
        height: 16px;
        width: 16px;
    }

    .cont .burg img {
        width: 16px;
    }

    .cont .user {
        margin-left: 14px;
        height: 32px;
        width: 32px;
    }

    .cont .user img {
        width: 32px;
        height: 32px;
    }


    /* swp */
    .swp {
        /* padding-left:40px; */
        padding: 0 40px;
        /* padding-top: 12px; */
        height: 78px;
    }

    header {
        margin-bottom: 12px;

    }









    /* grid */

    .listcards {
        grid-template-columns: repeat(2, 2fr);
        padding: 0 40px;
        margin-top: 16px;
    }

    .past {
        margin: 0 0 0 40px;
    }

    .js {
        padding: 48px 40px;
    }





    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px 0px;
        height: 75px;
    }

    .sha {
        padding: 0 40px;
    }

    .sha ul {
        padding: 24px 0px;
    }

    .sha h1 {
        border-top: 0px solid transparent;
    }

    .social-tab {
        margin-left: 48px;

    }

    .social-tab>svg:nth-child(1) {
        margin-right: 16px;
    }

    .social-tab>svg:nth-child(2) {
        margin-right: 16px;
    }

    .bottom-nav {
        display: none;
    }

    .cou-lang {
        padding-top: unset;
        margin-bottom: 16px;
    }

    .cou-lang div {
        margin-right: 10px;
    }

    .cou-lang div:nth-child(3) {
        margin-right: unset;
    }

    .c {
        padding-bottom: unset;
        text-align: center;
    }

    .ptsc {
        padding: unset;
        padding-top: unset;
        margin-bottom: unset;
    }

    .ptsc-dot {
        height: 19px;
        width: 18px;
    }

    .cont-content h4 {
        font-weight: 500;

    }

}

@media screen and (min-width: 968px) {
    .listcards {
        /* grid-template-columns: repeat(3, 33%); */
        grid-template-columns: repeat(3, minmax(0, 1fr));
        /* repeat(var(--breakpoint-grid_columns, 1), minmax(0, 1fr)) */
    }

    .sha {
        display: grid;
        /* grid-auto-columns: ; */
        grid-template-columns: repeat(3, 3fr);

    }

    .nav-p {
        justify-content: space-between;
    }

    /* .mr-wrapper{

    } */

    .js-cnt ul {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 24px 8px;
        /* row-gap: 8px;
    column-gap: 24px; */


    }

    .sha ul {
        padding: 48px 0;
        gap: 12px;
    }

    .your-home {
        font-size: 14px;
    }


}

@media screen and (min-width: 1130px) {
    .desk-1130 {
        display: inline;
    }

    .desk-1130-hide {
        display: none;
    }

    .desk-1130-logo {
        display: block;
    }

    .desk-1130-li {
        display: inline;
    }


    .listcards {
        grid-template-columns: repeat(4, minmax(0, 4fr));
        padding: 0 40px;
    }

    .past {
        margin: 3%;
        margin-bottom: 24px;
    }

    .js-cnt ul {
        grid-template-columns: repeat(6, 1fr);
    }

    /* .sha {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 300px;
    } */

    .sha {
        display: grid;
        column-gap: 8px;
    }



    .sha ul {
        /* grid-template-columns: repeat(3,1fr); */
        display: flex;
        flex-direction: column;
    }





    .ptsc {
        display: flex;
        justify-content: space-around;
    }

    .bottom-nav {
        display: none;
    }



    .js-cnt ul span {
        /* font-size: 12px; */
        font-size: 14px;
        line-height: 18px;
    }

    .js-cnt ul p {
        /* font-size: 11px; */
        font-size: 14px;
    }

    .cont-content h4 {
        opacity: 1;
        font-weight: 500;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: unset;
        padding: 0 24px;
    }

    .cou-lang {
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 24px 0px;
    }

    .cp {
        display: flex;
        flex-direction: row;
    }

    .c {
        padding-right: 0px;
    }

    .social-tab {
        margin-left: 20px;
    }

    .your-home {
        font-size: 14px;
    }


    /* test codes */
    .social-tab {
        margin-left: 24px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline-start: 40px;
        padding-inline-end: 40px;
        border-top: 1px solid var(--line-fill-color);

    }

    .lang {
        margin: 0 24px;
    }

    .cou-lang {
        margin: 0px;
        padding: 0px;
    }

    .cou-lang div:nth-child(1) {
        margin-right: 0px;
    }

    .cp {
        align-items: center;
    }

    .c {
        padding: 0px 0px;
        padding-right: 15px;
    }

    .cou-lang div {
        margin-right: 0px;
    }

    .rupee {
        margin-right: 5px;
    }



}

/*  screen px 1635 */
@media screen and (min-width: 1435px) {
    .listcards {
        padding: 0 80px;
    }

    .cont-content h4 {
        font-weight: 500;

    }


    .swp {
        padding: 0 80px;
    }

    .nav-p {
        padding: 0 80px;
    }

    .logo-container img {
        flex: 1 0 70px;
        /* max-width: 348px; */
    }

    .your-home,
    .any-container {
        font-size: 0.875rem;
    }


    .past {
        margin-left: 80px;
    }

    .js {
        padding: 48px 80px;
    }

    .sha {
        padding: 0 80px;

    }

    .sha ul {
        grid-template-columns: repeat(3, 3fr);
    }

    .cp {
        align-items: center;
    }

    .c {
        padding: 0px 0px;
        padding-right: 15px;
    }

    .cou-lang {
        margin: 0px;
        padding: 0px;
    }

    /* .cou-lang div {
        margin: 0px;
        padding: 0px;
    } */

    /* .cou-lang div:nth-child(1) {
        margin-right: 24px;
    } */

    .lang {
        margin: 0 24px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline-start: 80px;
        padding-inline-end: 80px;
        padding: 0 80px;
    }

    .social-tab {
        margin-left: 24px;
    }
}

@media screen and (min-width:1630px) {
    .listcards {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }


}